body {
	background-color: green;
}

#database-results {
	max-width: 100%;
	height: 150px;
	background-color: pink;
}



nav ul {
	background-color: #595959;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

nav li {
	display: inline-block;
	padding-right: 50px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	color: #c1c1c1;
}